#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* styles.css */
body {
  font-family: Arial, sans-serif;
}

h2 {
  color: #333;
}

p {
  font-size: 1rem;
  margin: 5px 0;
}

button {
  background-color: #007bff;
  color: rgb(255, 255, 255); /* White text */
  padding: 12px 20px; /* Some padding */
  margin-top: 10px; /* Space from other elements */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 1rem; /* Larger text */
}

button:hover {
  background-color: #0056b3;
}

input {
  margin: 5px;
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}